@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes&family=Pacifico&display=swap');

.logo{
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    font-size:32px;
}

